<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/bae1875f-b47c-436e-bb81-8cbac87f6330/resourcegroups/DataAccessLibrary20240218195421ResourceGroup/providers/Microsoft.ContainerRegistry/registries/DataAccessLibrary20240218195421</ResourceId>
    <ResourceName>DataAccessLibrary20240218195421</ResourceName>
    <ResourceGroup>DataAccessLibrary20240218195421ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>dataaccesslibrary20240218195421.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>